/Monitoring-ejb/target/
/Monitoring-web/src/main/java/monitoringweb/beans/generatedControllers/classes/
/Monitoring-web/src/main/java/monitoringweb/beans/generatedControllers/
/Monitoring-web/src/main/webapp/menu/