root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #5B879A;
    background-color: #5B879A;
    font-size: small;
}

a {
    color: #5B879A;
}

table {
    empty-cells: show;
}
.graphForm{
     border: 1px solid #a8a8a8;
}

form.jsfcrud_list_form th, td th {
    font-size: x-small;
    color: #5B879A;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #5B879A;
    border-bottom-color: #5B879A;
    border-left-color: #5B879A;
    border-right-color: #5B879A;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #5B879A;
}

td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #b2d5d6;
    border-bottom-color: #b2d5d6;
    border-left-color: #b2d5d6;
    border-right-color: #b2d5d6;
    vertical-align: baseline;
    padding-bottom: 0px;
}

tr.jsfcrud_odd_row {
    background-color: #5B879A;
    color: #5B879A;
}


tr.jsfcrud_even_row {
    background-color: #5B879A;
    color: #5B879A;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}

.ui-widget-header {
    border: 1px solid #a8a8a8;
    background: #D8EDF6 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,0.9)), to(rgba(255, 255, 255,0.3)));
    color: #333;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.7);
    
}
.menuheader{
    border: 1px solid #a8a8a8;
    background: #9DB3BC -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,0.9)), to(rgba(255, 255, 255,0.3)));
    font-weight: normal  !important;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.0)  !important;
}
.ui-menu {
    border: 1px solid #a8a8a8;
    background: #D8EDF6 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,0.5)), to(rgba(255, 255, 255,0)))  !important;
}
.ui-menu-list {
    /*border: 1px solid #a8a8a8;  делает сверху полосочку на меню*/
    background: #D8EDF6 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,0.5)), to(rgba(255, 255, 255,0)))  !important;
}
.ui-layout-container{
   /* background:#FADEBF;
    color: #FADEBF;
   background-color:#FADEBF;*/
}
.ui-widget-content {
    background: #FFFFFF;
    font-size: 14px !important;
}
.ui-widget {
    font-size: 14px !important;
}
.ui-layout-north {
    z-index: 20 !important;
    overflow: visible !important;;
}
.ui-layout-north .ui-layout-unit-content {
    overflow: visible !important;
}
.ui-widget-header {
    text-align: center;
    text-transform: uppercase;
}
.ui-button {
    margin-top: 10px !important;
}


h3 { 
    text-transform: capitalize;
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.table-with-borders td {
    border-top-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-right-style: solid;
   
}


.ui-datatable tbody td tr {
    border-top-style: none !important;
    border-bottom-style: none !important;
    border-left-style: none !important;
    border-right-style: none !important;
}